@font-face{
    font-family: "BrandonGrotesque";
    src: url("assets/fonts/HVD Fonts - BrandonGrotesque-Bold.otf");
    font-variant: bold;
}

@font-face{
    font-family: "BrandonGrotesque";
    src: url("assets/fonts/HVD Fonts - BrandonGrotesque-Regular.otf");
    font-variant: regular;
}

body{
    font-family: BrandonGrotesque, light;
    color: white;
    /* background-color: #111; */
    background-color: black;
    margin: 0;
    font-size: 12pt;
    line-height: 1.1;
    overflow: hidden;
    width: 100vw;
}

h1, h2, h3, h4{
    font-family: BrandonGrotesque, bold;
}

/* h1, h2::first-letter, h3::first-letter, h4::first-letter, h5::first-letter{ */
/*     text-transform: uppercase; */
/* } */

h2{
    font-variant: small-caps;
}

h3, h4{
    color: rgb(230, 216, 92);
}

#nbs-header{
    position: fixed;
    height: 40px;
    z-index: 100;
    top: 0px;
    width: 100vw;
    left: 0px;
    background-image:url('assets/nbs_header.png');
    background-color: rgb(0, 113, 103);
    background-size: 71vw 40px;
    background-repeat: repeat-y;
}

#nbs-panel a{
    color: rgb(230, 216, 92);
}

#nbs-panel a:hover{
    color: rgb(255, 260, 112);
}

a.nbs-link[target="_blank"]:after {
    position: relative;
    top: 2px;
    display: inline-block;
    background-image: url("assets/nbs_link.png");
    background-size: contain;
    content: "";
    margin-left: 10px;
    height: 16px;
    width: 16px;
}

li{
    margin-bottom: 10px;
}
/* .nbs-link{ */
/*     margin-bottom: 10px; */
/* } */

a.nbs-link.nbs-download:after{

    display: inline-block;
    background-image: url('assets/nbs_download.png');
    background-size: contain;
    content: "";
    margin-left: 10px;
    height: 20px;
    width: 20px;

}
/* #nbs-panel .nbs-download{ */
/*     margin-right: 1em; */
/*     background-image: url('assets/nbs_download.png'); */
/*     background-size: contain; */
/*     background-position: right center; */
/*     background-repeat: no-repeat; */

/* } */

.btn{
    cursor: pointer;
}

circle{
    cursor: pointer;
}

/* #nbs-panel .nbs-link{ */
/*     padding: 5px; */
/*     padding-left: 8px; */
/*     background-color:  rgb(230, 216, 92); */
/*     color: rgb(0, 113, 103); */
/*     border-radius: 5px; */
/* } */

.nbs-new h3{
    padding: 10px;
    background-color:  rgb(230, 216, 92);
    color: rgb(0, 113, 103);
    border-radius: 5px;
}


.nbs-new h3:hover{
    background-color: rgb(255, 260, 112);
    color: rgb(0, 113, 103);
    border-radius: 5px;
}

#nbs-panel .nbs-panel-close{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-image: url('assets/nbs_close.png');
    background-size: contain;
}

#nbs-panel .nbs-panel-open{
    position: absolute;
    top: 5px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-image: url('assets/nbs_open.png');
    background-size: contain;
}

#nbs-panel h3{
    margin-bottom: 10px;
}
#nbs-panel p{
    margin-top: 10px;
    margin-bottom: 15px;
}
#nbs-header-logo{
    display: inline-block;
    height:25px;
    width:250px;
    margin: 8px;
    background-image:url('assets/n4c_logo_.png');
    background-size:contain;
}

.nbs-dropdown-lang{
    display:inline-block;
    position:absolute;
    top: 8px;
    margin-left: 10px;
    padding-left: 8px;
    padding-right: 8px;
    /* background-color: rgb(0, 164, 163); */
    background-color: rgb(57, 170, 62);
    border-radius:3px;
    height: 25px;
    line-height:80%;
    overflow: hidden;
    cursor: pointer;
}

.nbs-btn-lang{
    pointer-events: none;
}

.nbs-btn-lang,
.nbs-btn-other-lang{
    display: block;
}

.nbs-btn-other-lang{
    margin-top:10px;
    margin-bottom:10px;
}

#nbs-svg{
    position: fixed;
    top: 40px;
}
.arrow{
    margin-top:-5px;
    font-size:100%;
}

#nbs-panel{
    position:fixed;
    width: 100vw;
    height: 100vh;
    top: 100vh;
    /* left: 100vw; */
    right:0px;
    background-color: rgb(0, 113, 103);
    overflow-y: scroll;
    z-index: 50;
}

.nbs-infos{
    box-sizing: border-box;
    /* min-height: 120vh; */
}

#nbs-panel div .nbs-legend div{
    margin: 5px;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left-center;
}

.nbs-legend-category{
    background-image: url("assets/nbs_legend_category.png");
}

.nbs-legend-subcategory{
    background-image: url("assets/nbs_legend_subcategory.png");
}

.nbs-legend-type{
    background-image: url("assets/nbs_legend_type.png");
}

.nbs-legend-solution{
    background-image: url("assets/nbs_legend_solution.png");
}

#nbs-panel .nbs-eu{
    margin-top: 2em;
    /* bottom: 0px; */
    position: absolute;
    width: 90%;
    height: auto;
    box-sizing: border-box;
}

#nbs-panel .nbs-eu div{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}

#nbs-panel .nbs-eu-text{
    width: calc(100% - 130px);
    left: 10px;
}

#nbs-panel div .nbs-legend-layout{
    margin-top: 10px;
    padding-left: 50px;
    min-height: 40px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: left-center;
}
.nbs-legend-tree{
    background-image: url("assets/nbs_legend_tree.png");
}

.nbs-legend-force{
    background-image: url("assets/nbs_legend_force.png");
}
#nbs-panel .nbs-panel-content{
    margin-top: 0px;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 100px;
    width: auto;
}

p.nbs-breadcrumb{
    font-size:90%;
    margin-bottom: 0;
}

#nbs-panel .nbs-panel-img{
    display: inline-block;
    background-size: cover;
    background-position: contain;
    margin-right: 2%;

}

#nbs-panel .challenge-logo{
    width: 60%;
    margin-top: 0.5em;
}

#nbs-panel h2 img.challenge-logo{

    width: 60px;
    margin-bottom: 0.5em;
    margin-top: 0;
}

#nbs-panel h2{
    margin-top: 5px;
    padding-right: 50px;
}

#nbs-panel h4, h5{
    margin-top: 0.5em;
    margin-bottom:0;    
}


#nbs-panel .challenge{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    top: 0px;
    margin-right:2%;
    width: 23%;
}

#nbs-panel .challenge h5{
    font-size: 80%;
}

#nbs-label{

   background-color: rgba(0, 0, 0, 0.8);
    position:fixed;
    padding: 0.3em;
    pointer-events: none;
    text-align: center;
    font-size: 14pt;
}

#nbs-control{
    position: absolute;
    top: 50px;
    right: 10px;
}


#nbs-panel a{
    text-decoration: none;
}

.search-div{
    float: right;
    clear: both;
    background-color: rgb(0, 113, 103);
    border-radius: 20px;
    margin: 8px;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.search-div input{
    margin: 7px 5px 15px 20px;
    border: none;
    border-radius: 3px;
    height: 24px;
    width: 170px;
}

a.btn{
    float: right;
    clear: both;
    display: block;
    border-radius: 20px;
    margin: 8px;
    height: 40px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}

a.btn div{
    pointer-events: none;
    user-select: none;
}

a.btn{
    transition-property: background-color;
    animation-duration: 0.5s;
    background-color: rgb(0, 113, 103);
}

a.btn.active{
    transition-duration: 0.2s;
    background-color: rgb(0, 164, 163);
}

a.btn.inactive{
    animation-duration: 0.2s;
    background-color: gray;
}

a.btn.inactive:hover{
    background-color: gray;
}
a.btn.btn-depth{
    font-size: 150%;
    font-weight: bold;
    text-align:center;
    vertical-align: middle;
}

a.btn.btn-depth div{
    margin-top:5px;
}

a.btn:hover{
    transition-duration: 0.2s;
    background-color: rgb(57, 170, 62);
}

a.btn.btn-info{
    background-image: url('assets/nbs_info.png');
}

a.btn.btn-search{
    position:absolute;
    top:64px;
    right:8px;
    margin:0;
    background-image: url('assets/nbs_search.png');
}

.btn-tree{
    background-image: url('assets/nbs_tree.png');
}

.btn-force{
    background-image: url('assets/nbs_force.png');
}
#level-layer text{
    font-size: 20pt;
    text-anchor: middle;
    pointer-events: none;
}

#nbs-photos-container{

    background-color: rgb(0, 113, 103, 0.85);
    /* background-color: rgb(0, 80, 73); */
    /* background-color: black; */
    position: fixed;
    top: 40px;
    left: 0;
    width: 70vw;
    height: 100vh;
    /* opacity: 0; */
}

.nbs-photos-exit{
    /* background-color: gray; */
    position: absolute;
    background-image: url('assets/nbs_close.png');
    background-size: contain;
    width: 40px;
    height: 40px;
    top: 18px;
    right: 18px;
    background-color: rgb(0, 113, 103);
    border-radius:20px;
}

.nbs-photos-exit:hover{
    background-color: rgb(57, 170, 62);
}
#nbs-photos-content{
    margin-top: 50px;
    margin-right: 5em;
    margin-left:5em;
    margin-bottom:5em;
}

.nbs-photo{
    position: relative;
    float: right;
    margin: auto;
    max-width: 100%;
    max-height: 75vh;
    display: "inline-block";
}

.nbs-photo-legend{
    float: right;
    display: inline-block;
}


@media only screen and (min-width: 960px){
    #nbs-control{
        right: calc(30vw + 10px);
    }
    #nbs-panel{
        width: 30vw;
        height: 100vh;
        top: 0;
    }
    #nbs-panel .nbs-panel-content{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #nbs-panel h2{
        padding-right: 0px;
    }
    #nbs-panel .nbs-panel-close{
        display: none;
    }
    #nbs-panel .nbs-panel-open{
        display: none;
    }
}
@media only screen and (min-width: 1032px){
    #nbs-panel .challenge{
        width: 23%;
    }
}

@media only screen and (min-width: 1366px){
    body{
        font-size: 14pt;
    }

    #nbs-panel .challenge{
        width: 18%;
    }
    #nbs-panel .nbs-panel-content{
        margin-right: 1.5em;
        margin-left: 1.5em;
    }
}
